<header id="header" class="header background">
    <div class="contenedor">
        <!-- header -->
        <figure class="logo">
            <!-- logo -->
            <img src="app/images/invie.png" alt="Invie logotipo" width="186" height="60" />
        </figure>
        <nav class="menu">
            <!-- menu -->

            <ul>
                <li>
                    <a href="#/home">Home</a>
                </li>
                <li>
                    <a href="#guitarras">Guitarras</a>
                </li>
                <li>
                    <a href="#/app/prizes">Precio</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
