<section id="portada" class="portada background">
    <header id="header" class="header contenedor">
        <!-- header -->
        <figure class="logo">
            <!-- logo -->
            <img src="app/images/invie.png" alt="Invie logotipo" width="186" height="60" />
        </figure>
        <nav class="menu">
            <!-- menu -->
            <ul>
                <li>
                    <a href="#/home">Home</a>
                </li>
                <li>
                    <a href="#guitarras">Guitarras</a>
                </li>
                <li>
                    <a href="#/app/precios">Precios </a>
                </li>
                <li>
                    <a href="http://www.miguelcast.co" target="_blank">Miguel Ca$t </a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Portada       -->
    <div class="contenedor">
        <!-- title -->
        <h1 class="titulo">Guitarras <span>invie</span>sibles</h1>
        <!-- slogan -->
        <h3 class="title-a">Sé la estrella que siempre quisiste ser</h3>
        <!-- button -->
        <a type="button" href="#guitarras" class="button" name="button">Conoce más</a>
    </div>
</section>
<section id="guitarras" class="guitarras contenedor">
    <!-- Guitarras       -->
    <h2>Nuestras guitarras</h2>
    <!-- guitar 1 -->
    <article class="guitarra">
        <img class="derecha" src="app/images/invie-acustica.png" alt="Guitarra Invie Acústica" width="350" />
        <div class="contenedor-guitarra-a">
            <h3 class="title-b">Invie Acústica</h3>
            <ol>
                <li>Estilo vintage</li>
                <li>Madera pura</li>
                <li>Incluye iestuche invisible de aluminio</li>
            </ol>
        </div>
    </article>
    <!-- guitar 2 -->
    <article class="guitarra b">
        <img class="izquieda" src="app/images/invie-classic.png" alt="Guitarra Invie Classic" width="350" />
        <div class="contenedor-guitarra-b">
            <h3 class="title-b">Invie Clasic</h3>
            <ol>
                <li>Estilo vintage</li>
                <li>Liviana</li>
                <li>Incia tu camino</li>
            </ol>
        </div>
    </article>
</section>
