<section id="tabla" class="tabla">
    <div class="contenedor">
        <table>
            <thead>
                <tr>
                    <th>Modelo</th>
                    <th>Precio</th>
                    <th>Descrición</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Invie classic</td>
                    <td>$100000</td>
                    <td>super guitarra</td>
                </tr>
                <tr>
                    <td>Invie classic</td>
                    <td>$100000</td>
                    <td>super guitarra</td>
                </tr>
                <tr>
                    <td>Invie classic</td>
                    <td>$100000</td>
                    <td>super guitarra</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>