<section id="tabla" class="tabla">

  {{greeting}}
    <div class="contenedor">
      <figure class="img-thumb">
        <img ng-src="{{img}}" alt="{{img}}">
      </figure>

        <table>
            <thead>
                <tr>
                    <th>Modelo</th>
                    <th>Precio</th>
                    <th>Descrición</th>
                </tr>
            </thead>
            <tbody ng-repeat="guitarr in guitarras">
                <tr>
                    <td>{{guitarr.nombre}}</td>
                    <td>{{guitarr.valor}}</td>
                    <td>{{guitarr.descripcion}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
